<% layout('layouts/boilerplate') -%>

<section class="p-lg-5 pb-3">
    <div class="container">
        <div class="row g-5 pt-2">
            
            <div class="col">
                <%- include('../partials/flash'); %>
                <div class="card border-dark">
                    <div class="card-header text-light bg-dark">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="d-inline">&mdash; <%= post.author %></span>
                            <div class="d-flex align-items-center">
                                
                                <!--? EDIT -->
                                <a href="/posts/<%= post._id %>/edit" class="link-light text-decoration-none">Edit</a>
                                
                                <!--? DELETE -->
                                <form action="/posts/<%= post._id %>?_method=DELETE" method="POST" class="ms-3 p-0">
                                    <button type="submit"
                                        class="btn btn-link link-light text-decoration-none">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><%= post.title %></h4>
                        <p class="card-text my-3"><%= post.text %></p>

                        <button class="btn btn-link text-secondary text-decoration-none ps-0" data-bs-toggle="modal"
                            data-bs-target="#postReply">
                            <i class="bi bi-chat-square me-lg-1"></i>
                            Reply
                        </button>

                    </div>

                    <hr class="m-1">

                    <!--? Comments -->
                    <%- include('../partials/comment'); %>  

                </div>
            </div>

        </div>
    </div>
</section>

<!--? Comment form -->
<%- include('../partials/modals/postReply'); %> 